{% extends 'base.html'%}
<script type="text/javascript">
    $(function(){

    })
</script>
{%block logonext%}<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>{% endblock%}   
{% block left %}
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul>
            <li><a href="/user_center_info" {% block active_info %}{% endblock %}>· 个人信息</a></li>
            <li><a href="/user_center_oder" {% block active_order %}{% endblock %}>· 全部订单</a></li>
            <li><a href="/user_center_site" {% block active_receive %}{% endblock %}>· 收货地址</a></li>
        </ul>
    </div>


{% endblock %}
{% block right %}
{% endblock %}